body{
	font-family: 'Playfair Display', serif;
}

p{
	line-height: 28px;	
}

.switch_theme {
	position: fixed;
	z-index: 1000;
	top: -150px;
	right: 50px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	font-family: "Roboto Slab", serif;
	font-size: 1.1rem;
	width: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: #fffbf0;
	font-weight: 500;
	color: #4a3600;
	outline: none;
	transition: background-color 0.3s, top 0.5s;
}
.switch_theme:hover {
	 background-color: #4a3600;
	 color: #fffbf0;
 }

.container{
	max-width: 1140px;
	margin-left: auto;	
	margin-right: auto;
}

.bg_white{
	background-color: #fff;
}

.btn{
	cursor: pointer;	
	font-size: 16px;
    font-weight: 400;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    background: transparent; 
    transition: color .25s, background-color .25s;
}

.btn.btn_outline{
	color: #fff;
}

.btn.btn_outline:hover{
	color: #222;
	background-color: #fff;
}

.btn.btn_brown{
	color: #fff;
	background-color: #4a3600;
	border-color: #4a3600;
}

.btn.btn_brown:hover{
	background-color: #fff;
	color: #4a3600;
}

.btn.btn-light-brown{
	color: #fff;
	background-color: #bc9321;
	border-color: #bc9321;
}

.btn.btn-light-brown:hover{
	background-color: #fff;
	color: #bc9321;
}

.border-top{
	border-top-width: 1px;
	border-top-style: solid
}

.border-gray{
	border-color: #919191;
}

.bg-brown{
	background-color: #4A3600;
}

.bg-light-brown{
	background-color: #fffbf0;
}

.bg-honey{
	background-color: #bc9321;
}

.text-white{
	color: #fff;
}

.text-brown{
	color: #4a3600;
}

.text-light-brown{
	color: #bc9321;
}

.text-grey{
	color: #727272;
}

.text-gray{
	color: #919191;
}

.text-42{
	font-size: 42px;
}

.text-24{
	font-size: 1.5rem;
}

.text-22{
	font-size: 22px;
}

.text-20{
	font-size: 20px;
}

.text-18{
	font-size: 18px;
}

.text-16{
	font-size: 1rem;
}

.text-14{
	font-size: 14px;
}

.font-weight-300{
	font-weight: 300;	
}

.font-weight-400{
	font-weight: 400;	
}

.font-weight-500{
	font-weight: 500;	
}

.font-weight-700{
	font-weight: 700;	
}

.font-weight-900{
	font-weight: 900;	
}

.shadow{
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.8);
    box-shadow: 0 10px 20px rgba(0,0,0,.8);
}

.circle_img{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: center center;
}

header{
	transition: all .25s;
}

.burger{
	width: 50px;
	height: 35px;
}

.burger span,
.burger::before,
.burger::after{
	width: 100%;
	height: 3px;
	background: #fff;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}

.burger span{
	top: 50%;
	transform: translate(-50%, -50%);
}

.burger.active span{
	opacity: 0;
}

.burger::before{
	top: 0;
}

.burger::before,
.burger::after{
	content: "";
	transition: all .5s;
}

.burger::after{
	bottom: 0;
}

.burger.active::before{
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.burger.active::after{
	bottom: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
}


.main_nav li{
	padding-left: 1.5rem;	
	padding-right: 1.5rem;	
}

.main_nav a{
	display: inline-block;	
	text-decoration: none;	
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding-top: .5rem;	
	padding-bottom: .5rem;	
	letter-spacing: 1px;

	position: relative;	
	overflow-x: hidden;

	transition: color .25s, transform .4s ease-in;
}

.main_nav a::before{
	content: "";

	height: 2px;
	width: 100%;

	background: #BC9321;
	
	position: absolute;	
	bottom: 0;
	left: 0;	

	transform: translateX(-105%);
	transition: inherit;
}

.main_nav a.active::before,
.main_nav a:hover::before{
	transform: translateX(0);
}

.main_nav .has_child{
	position: relative;	
}

.main_nav .has_child > a::after{
	content: "\f078";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding: .25rem;	
	font-size: .75rem;
	color: rgba(255, 255, 255, 0.75);
}

.main_nav .has_child ul.sub_menu{
	list-style: none;	
	position: absolute;	
	top: 125%;	
	left: 0;	
	min-width: 250px;
	background: #fff;
	z-index: 1020;

	visibility: hidden;	
	opacity: 0;	

	transition: all .25s;
}

.main_nav .has_child:hover ul.sub_menu{
	top: 100%;	
	visibility: visible;	
	opacity: 1;	
	-webkit-box-shadow: 2px 5px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 5px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 5px 17px 0px rgba(0,0,0,0.75);
}

.main_nav ul.sub_menu li{
	padding-top: .25rem;	
	padding-bottom: .25rem;	
}

.main_nav ul.sub_menu a{
	color: #222;
}


/* Home */

.banner{
	background-image: url(../img/banner.webp);
	background-size: cover;
	background-position: top center; 
	height: 100vh;	
}

.banner h1{
	font-size: 80px;
	text-transform: capitalize;
    letter-spacing: 2px;
}

.banner .subtitle::before,
.banner .subtitle::after{
	content: '';
	display: block;	
	height: 1px;	
	width: 50px;
	background: #bc9321;

	position: absolute;	
	top: 50%;	
	transform: translateY(-50%);
}

.banner .subtitle::before{
	right: 100%;	
}

.banner .subtitle::after{
	left: 100%;	
}

.section_title::after{
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	background: #bc9321;
}

.service_img{
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: contain;
	z-index: -1;
}

.service_block{
	border-bottom: 1px solid #eceae5;
}

.service_block .doted::before{
	content: ".....................................................";
	color: #bc9321;
	font-size: 18px;
	position: absolute;
	z-index: 0;
}

.gallery img{
	height: 100%;
	max-height: 440px;
	object-position: center center;
	object-fit: cover;
}

.workers img{
	max-height: 310px;	
}

.play{
	width: 94px;
	height: 94px;
	transition: all .25s;

	cursor: pointer;
}

.play:hover{
	background-color: #4a3600;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  
  transform: translate(-40%, -50%);
  border-left: 25px solid #4a3600;

  transition: inherit;
}

.play:hover .arrow-right{
	border-left: 25px solid #fff;
}

.workers_socials{
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	transition: all .25s;
}

.workers_block_wrapper:hover .workers_socials{
	bottom: 35%;
	opacity: 1;
}

.workers_socials a{
	transition: inherit;
	cursor: pointer;
}


.workers_socials a:hover{
	color: #aaa;
}

.bg_bottom_section{
	background-image: url(../img/banner.webp);
}

.divider{
	width: 100px;
    height: 2px;
}

.contacts_list li::before{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 30px;
	color: #fff;
}

.contacts_list li.address::before{
	content: "\f5a0";
}

.contacts_list li.call::before{
	content: "\f2a0";
}

.contacts_list li.mail::before{
	content: "\f0e0";
}

.contacts_list a{
	transition: color .25s;
}

.contacts_list a:hover{
	color: #aaa;
}

footer{
	font-family: roboto,sans-serif;
}

footer a{
	transition: all .25s;
}

footer a:hover{
	color: #bc9321;
}

.modal_form_wrapper{
	background-color: rgba(74, 54, 0, .6);
	z-index: 99999;
}

.modal_form_wrapper{
	opacity: 0;
	visibility: hidden;
	transition: all .25s;
}

.modal_form_wrapper form{
	transform: translateY(-30%);
	transition: inherit;
}

.modal_form_wrapper.active{
	opacity: 1;
	visibility: visible;
}

.modal_form_wrapper.active form{
	transform: translateY(0);
}

.modal_form_wrapper input,
.modal_form_wrapper textarea{
	border: 1px solid rgba(0,0,0,.42);
}

.modal_form_wrapper textarea{
	resize: none;
}

.modal_form_wrapper input:focus,
.modal_form_wrapper textarea:focus{
	border: 1px solid rgba(74, 54, 0, 1);
}

.modal_close{
	top: 2.5%;
	right: 2.5%;
	width: 25px;
	height: 25px;
}

.modal_close::before,
.modal_close::after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;

	position: absolute;
	top: 50%;
	left: 50%;
	background: #777;
	transition: background .25s;
	cursor: pointer;
}

.modal_close::before{
	transform: translate(-50%, -50%) rotate(45deg);
}

.modal_close::after{
	transform: translate(-50%, -50%) rotate(-45deg);
}

.modal_close:hover::before,
.modal_close:hover::after{
	background: #000;
}

@media screen and (max-width: 1200px){
	.container{
		max-width: 992px;
	}

	.main_nav{
	    max-height: 0;
		overflow: hidden;
		transition: max-height 1s;
	}

	.main_nav.active{
		max-height: 100vh;
	}
}

@media screen and (max-width: 768px){
	.container{
		max-width: 576px;
	}

	.service_img{
		height: 50%;
		object-fit: cover;
	}
}
